@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("./woff2/Pretendard-Black.woff2") format("woff2"),
    url("./woff/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("./woff2/Pretendard-ExtraBold.woff2") format("woff2"),
    url("./woff/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("./woff2/Pretendard-Bold.woff2") format("woff2"),
    url("./woff/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("./woff2/Pretendard-SemiBold.woff2") format("woff2"),
    url("./woff/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("./woff2/Pretendard-Medium.woff2") format("woff2"),
    url("./woff/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("./woff2/Pretendard-Regular.woff2") format("woff2"),
    url("./woff/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("./woff2/Pretendard-Light.woff2") format("woff2"),
    url("./woff/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("./woff2/Pretendard-ExtraLight.woff2") format("woff2"),
    url("./woff/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("./woff2/Pretendard-Thin.woff2") format("woff2"),
    url("./woff/Pretendard-Thin.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Pretendard";
  /* 드래그방지 */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  border: 0;
  vertical-align: middle;
}

html {
  font-size: 16px;
}
body {
  color: #222;
  font-size: 16px;
  line-height: 1; /* x1 */
  letter-spacing: 0;
  word-break: keep-all; /* 단어를 지켜서 줄내림 */
  overflow-y: hidden;
  overflow-x: hidden;
  opacity: 1;
  transition-duration: 3s;
  transition-property: opacity;
}
body.fade {
  opacity: 0;
}
.displayNone {
  display: none !important;
}
.wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}
.flexBox {
  position: relative;
  display: flex;
  width: fit-content;
  height: 100%;
  transition: transform 2s ease-in-out;
  transition-delay: 0.5s;
}
.landingBox {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
  background: #ff5620;
}
.landingBox .inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2.6242vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.clipText {
  color: #fff5f1;
  font-weight: 500;
}
.one {
  position: relative;
  width: 100%;
  height: 8.8542vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.size260 {
  position: relative;
  display: block;
  font-size: 13.5417vw;
}
.one p.size260 {
  margin-right: 37.8125vw;
}
.one-small {
  position: relative;
  width: 10.4167vw;
  height: 11.4583vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.0833vw;
  font-family: 600;
}
@media screen and (max-width: 764px) {
  .one {
    height: 10.8542vw;
  }
  .size260 {
    font-size: 16.5445vw;
  }
  .one p.size260 {
    margin-right: 47.8vw;
  }
  .one-small {
    margin-right: 0.7vw;
    font-size: 2.5vw;
    width: 11.4167vw;
    height: 14.5vw;
  }
}

/* 애니메이션 */

.clipText > h1,
.clipText > p {
  position: relative;
}

.on {
  animation: cliptext 0.5s ease both;
}

@keyframes cliptext {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transform: translateY(100%);
  }
  95% {
    transform: translateY(0%);
  }
  100% {
    clip-path: polygon(0% 00%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.box {
  position: relative;
  right: -100vw;
  width: 0;
  height: 100vh;
  transition: width 2s, transform 2s ease-in-out;
}
.red {
  /* background-color: red; */
  /* transition-delay: 0s; */
  background: url(../image/knottedBg.png) no-repeat center;
  background-size: cover;
}
.blue {
  /* background-color: blue; */
  /* transition-delay: 1s; */
  background: url(../image/hyftBg.png) no-repeat center;
  background-size: cover;
}
.green {
  /* background-color: green; */
  /* transition-delay: 2s; */
  background: url(../image/dosiraktongBg.jpeg) no-repeat center;
  background-size: cover;
}
.width100 {
  width: 100vw;
  transform: translateX(-400vw);
}
.move {
  transform: translateX(-100vw);
}

/* 메인 */
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 64px;
  height: 100vh;
  writing-mode: vertical-rl;
  background: #fff;
  border-right: 1px solid #e3e3e3;
  z-index: 6;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 30px 0;
  background: url("../image/barcodelogo.png") no-repeat center;
  background-size: cover;
  transform: rotate(-90deg);
  /* font-family: "Lilita One", cursive;
    font-size: 24px;
    font-weight: 600; */
}
.menu {
  display: flex;
  height: 80%;
  justify-content: space-between;
  padding: 30px 0;
  transform: rotate(180deg);
}

.main {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
}
/* .projectsName {
    width: 100vw;
    height: 100vh;
}*/
.projectsName .inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.name {
  position: relative;
  display: block;
  font-size: 10vw;
}
.one p.name {
  margin-right: 33vw;
}
.projectsName > .inner > .clipText {
  color: #ff5620;
  font-weight: 400;
}
.projectsName > .inner .one-small {
  position: relative;
  width: 6.2vw;
  height: 9.3vw;
  display: flex;
  color: #ff5620;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2vw;
  font-family: 400;
}
.selectedName {
    position: absolute;   
}
/* .projectsName  */
#pn1, #pn2, #pn3 {
    overflow: hidden;
}
#pn1, #pn2, #pn3, #pn1 .name,
#pn2 .name, #pn3 p {
    transition: transform 1s;
}
#pn1 .name.on,
#pn2 .name.on,
#pn3.on,
#pn3 p.on {
  animation: cliptext2 0.5s ease both;
  /* overflow: hidden; */
}
#pn1 .name.off,
#pn2 .name.off,
#pn3.off,
#pn3 p.off {
  animation: cliptext3 0.5s ease both;
  /* overflow: hidden; */
}
@keyframes cliptext2 {
 
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes cliptext3 {
 
  0% {
      transform: translateY(-100%);
}
100% {
      transform: translateY(0%);
  }
}
.projects {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60vh;
}
.projects .inner {
  width: 100%;
  height: 100%;
}
.splide {
  width: 100%;
  height: 100%;
  gap: 5px;
}
.splide__track {
  width: 100%;
  height: 100%;
}
.splide__list {
  width: 100%;
  height: 100%;
  align-items: center;
}

.splide__slide {
  display: block;
  width: 100%;
  height: 70%;
  /* object-fit: cover; */
  background-color: #fff;
}
.slideImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: background-color 0.5s, transform 0.5s ease-out;
}
.slideImg > a {
  width: 100%;
  height: 100%;
  display: block;
}

.about {
  background: rgba(0, 0, 0, 0) url("../image/snow.jpeg") no-repeat center;
  background-size: cover;
}
.hyft {
  background: rgba(0, 0, 0, 0) url("../image/hyftMain2.png") no-repeat center;
  background-size: cover;
}
.knotted {
  background: rgba(0, 0, 0, 0) url("../image/knottedMain.png") no-repeat center;
  background-size: cover;
}
.dosiraktong {
  background: rgba(0, 0, 0, 0) url("../image/dosiraktongMain.png") no-repeat
    center;
  background-size: cover;
}
.pf {
  background: rgba(0, 0, 0, 0) url("../image/BAESOYOUNG_0.png") no-repeat
    center;
  background-size: cover;
}
.hover {
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
  transform: scale(0.9);
}
.other {
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}
.arrow {
  position: absolute;
  display: block;
  width: 150px;
  height: 100px;
  right: 20px;
  bottom: 20px;
}
.line1 {
  position: absolute;
  width: 130px;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
.line2 {
  position: absolute;
  width: 2px;
  height: 80px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
.line3 {
  position: absolute;
  width: 2px;
  height: 150px;
  bottom: -35px;
  right: 63px;
  transform: rotate(-58deg);
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
.slideImg:hover .line1 {
  position: absolute;
  width: 150px;
  height: 2px;
  bottom: 0;
  opacity: 1;
}
.slideImg:hover .line2 {
  position: absolute;
  width: 2px;
  height: 100px;
  bottom: 0;
  right: 0;
  opacity: 1;
}
.slideImg:hover .line3 {
  position: absolute;
  width: 2px;
  height: 180px;
  bottom: -41px;
  right: 76px;
  transform: rotate(-58deg);
  opacity: 1;
}
